@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import 'tailwindcss';

a.active span[data-role='nav-underline'] {
  display: block;
}

* {
  font-family: Outfit;
}

.prata-regular {
  font-family: 'Prata', serif;
  font-weight: 400;
  font-style: normal;
}

.link-footer:hover {
  color: black;
  text-decoration: underline;
}
